body{
  background-color: #292b2c;
}
/*

  Index part

*/


.title{
  text-align: center;
}

.image-container{
  display: flex;
  justify-content: center;
}

.image{
  width: 20vw;
  height: 20vh;
  margin: .3em;
  border-radius: 50px 0px;
}